*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
<<<<<<< HEAD:styles.css

body {
    font-size: 100%;
    list-style-type: none;
}

body {
    display: grid;
=======

body {
    display: grid;
    flex-wrap: wrap;
>>>>>>> master:Projeto-Landing-page/quem-somos.css
    width: 100%;
    height: 83vw;
    grid-template-rows: 6vw 65vw 13vw;
    grid-template-columns: 50vw;
    grid-template-areas: 'header nav'
<<<<<<< HEAD:styles.css
        'main  main2'
=======
        'section section'
>>>>>>> master:Projeto-Landing-page/quem-somos.css
        'foot  foot'

}

.box h2 {
    font-size: max(2rem);
    color: #30336b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 5%;
}

.box {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 15vw;
}

.box2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 2vw;
    margin-left: 0 auto;
}


@media screen and (min-width: 220px) and (max-width: 700px) {
    body {
        display: grid;
        width: 100%;
        height: 220vw;
        grid-template-rows: 45vw 130vw 45vw;
        grid-template-columns: 50vw;
        grid-template-areas: 'header nav'
            'main  main2'
            'foot  foot'

    }

    .box h2 {
        font-size: 1.2rem;
        color: #30336b;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-left: 5%;
    }

    header {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-area: header;
        background-color: #ff914d;
        border-bottom: 2px solid rgba(0, 0, 0, 0.151);
    }

    .box {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 5vw;
    }

    .box2 {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 15vw;
        margin-left: 0 auto;
    }

    #pessoa-imagem {
        height: 45vw;
    }

}

@media screen and (min-width: 700px) and (max-width: 1200px) {
        
    body {
        display: grid;
        width: 100%;
        height: 187vw;
        grid-template-rows: 12vw 130vw 45vw;
        grid-template-columns: 50vw;
        grid-template-areas: 'header nav'
            'main  main2'
            'foot  foot'

    }

    .box {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 5vw;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1303px) {
    body {
        display: grid;
        width: 100%;
        height: 183vw;
        grid-template-rows: 8vw 130vw 45vw;
        grid-template-columns: 50vw;
        grid-template-areas: 'header nav'
            'main  main2'
            'foot  foot'
    }

    .box {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 5vw;
    }
}

header {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    grid-area: header;
    background-color: #ff914d;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
}

header img {
    object-fit: cover;

}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    grid-area: nav;
    background-color: #ff914d;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #ff914d;
    align-items: flex-end;
    font-size: max(1.2rem);
    column-gap: 4%;
    width: 48vw;
    flex-wrap: wrap;
    list-style: none;
}

.menu li {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.menu li:hover {
    color: black;
}

.acessar {
    background-color: #30336b;
    border-radius: 60vw;
    padding: 0.5vw;
    font-size: max(1.2rem);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

<<<<<<< HEAD:styles.css
#acessar:hover {
=======
.acessar:hover {
>>>>>>> master:Projeto-Landing-page/quem-somos.css
    color: #ff914d;
}

section{
    display: grid;
    grid-area: section;
    background-color: #f5f6fa;
}

<<<<<<< HEAD:styles.css
.box2 img {
    object-fit: cover;
    width: 38vw;
=======
article{
    display: block;
    margin: auto;
    margin-bottom:20%;
}

h1{
    display: block;
    margin: auto;
    margin-top: 1rem;
    font-size: 1.5rem;
}
h2{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}
h3{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

p{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
>>>>>>> master:Projeto-Landing-page/quem-somos.css
}

footer {
    grid-area: foot;
    background-color: #30336b
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30336b;
}

.div-footer h4 {
    color: #f5f6fa;
    font-size: 1.2rem;
    margin-top: 0.5;
}

<<<<<<< HEAD:styles.css
#div-footer img {
=======
.div-footer img {
>>>>>>> master:Projeto-Landing-page/quem-somos.css
    background-color: #30336b;
    object-fit: cover;
}


.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 0.2vw;
    margin-top: 0.1vw;
}

.atendimento {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 1vw;
}

.atendimento h4 {
    color: #f5f6fa;
    font-size: 1.2rem;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: end;
}

<<<<<<< HEAD:styles.css
#numero p {
=======
.numero p {
>>>>>>> master:Projeto-Landing-page/quem-somos.css
    color: #f5f6fa;
    font-size: 1.0rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 4vw;
}

<<<<<<< HEAD:styles.css
#copyright p {
=======
.copyright p {
>>>>>>> master:Projeto-Landing-page/quem-somos.css
    color: #f5f6faa2;
}

* img {
    max-width: 100%;
}